<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.keen0911.wx.db.mapper.ActionMapper">

    <resultMap id="BaseResultMap" type="top.keen0911.wx.db.pojo.Action">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="action_code" column="action_code" jdbcType="VARCHAR"/>
            <result property="action_name" column="action_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,action_code,action_name
    </sql>
</mapper>
