<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.keen0911.wx.db.mapper.LeaveMapper">

    <resultMap id="BaseResultMap" type="top.keen0911.wx.db.pojo.Leave">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="user_id" column="user_id" jdbcType="OTHER"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="start" column="start" jdbcType="TIMESTAMP"/>
            <result property="end" column="end" jdbcType="TIMESTAMP"/>
            <result property="days" column="days" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="instance_id" column="instance_id" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,reason,
        start,end,days,
        type,status,instance_id,
        create_time
    </sql>
</mapper>
