<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.keen0911.wx.db.mapper.ModuleMapper">

    <resultMap id="BaseResultMap" type="top.keen0911.wx.db.pojo.Module">
            <id property="id" column="id" jdbcType="OTHER"/>
            <result property="module_code" column="module_code" jdbcType="VARCHAR"/>
            <result property="module_name" column="module_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,module_code,module_name
    </sql>
</mapper>
